<p>call works!</p>

<pre> {{ peer.conn.connectionState }} </pre>
<ng-container
  *ngIf="peer.conn.connectionState === 'connected'; else ringAnimationTemplate"
>
  <section>
    <audio id="remote" #remote autoplay [srcObject]="peer.remote"></audio>
  </section>
  <canvas rockrtcFrequencyAnalyser [audio]="remote"></canvas>
</ng-container>

<ng-template #ringAnimationTemplate>
  <button type="button" class="ring" (click)="connect()">
    <div class="rockrtc-phone rockrtc-green">
      <div class="rockrtc-ph-circle"></div>
      <div class="rockrtc-ph-circle-fill"></div>
      <div class="rockrtc-ph-img-circle"></div>
    </div>
  </button>
</ng-template>

<audio
  id="local"
  #local
  autoplay
  [muted]="peer.stream"
  [srcObject]="peer.stream"
></audio>

<button type="button" (click)="hangUp()">Sair</button>
