<p>call works!</p>

<audio
  id="local"
  #local
  autoplay
  [muted]="peer.stream"
  [srcObject]="peer.stream"
></audio>

<section>
  <audio id="remote" #remote autoplay [srcObject]="peer.remote"></audio>

  <!--
    Browser warning

    The AudioContext was not allowed to start.
    It must be resumed (or created) after a user gesture on the page.
    https://goo.gl/7K7WLu
  -->
  <ng-container *ngIf="userGesture$ | async">
    <canvas rockrtcFrequencyAnalyser [audio]="remote"></canvas>
  </ng-container>
</section>

<button type="button" (click)="connect()">Conectar</button>
<button type="button" (click)="hangUp()">Sair</button>
